

#root {
  text-align: center;
  width: 100%;
}

.title-bar {
  -webkit-app-region: drag;
  background: transparent;
  display: flex;
  align-items: center;
  padding-left: 10px;
  user-select: none;
}
