

.title-bar {
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  padding-left: 10px;
  user-select: none;
  justify-content: space-between;
}



.title-bar > div > button {
    -webkit-app-region: none;
    height: 100%;
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;

}



.title-bar-wrapper {
  -webkit-app-region: none;
}
